APP_ENV=local
APP_NAME=JanSahayak API
DEBUG=true
SARVAM_API_KEY=sk_k4m9mnx6_pM84f6RdY7GDfK4kxK6ZDyBw
SARVAM_BASE_URL=https://api.sarvam.ai
SARVAM_CHAT_URL=https://api.sarvam.ai/v1/chat/completions
SARVAM_CHAT_MODEL=sarvam-m
SARVAM_CHAT_TEMPERATURE=0.2
SARVAM_TRANSLATE_URL=https://api.sarvam.ai/translate/text
SARVAM_TRANSLATE_MODEL=mayura:v1
SARVAM_TRANSLATE_MODE=formal
SARVAM_SPEAKER_GENDER=Male
SARVAM_ENABLE_PREPROCESSING=false
SARVAM_NUMERALS_FORMAT=native
DEFAULT_LANGUAGE=en-IN
DEFAULT_STATE=Delhi
DEFAULT_DISTRICT=New Delhi
